#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

QMAKE_PARAMS = CONFIG+=use_webengine src

%:
	dh $@

override_dh_auto_configure:
	qmake6 $(QMAKE_PARAMS) || qmake $(QMAKE_PARAMS)

override_dh_auto_install:

override_dh_strip:
	dh_strip --no-automatic-dbgsym
